<h3>Completed Orders by Owner:</h3>

<div class="links-container">
    <%= link_to "Place Order", orders_path, class: "buttons" %>
    <%= link_to "View Active Order", "/active/orders", class: "buttons" %>
    <%= link_to "Modify Menu & Items ", "/menus", class: "buttons" %>
    <%= link_to "Completed Order", "/owner/completed", class: "buttons" %>
    <%= link_to "My Panel", "/mypanel", class: "buttons" %>
</div>

<% Order.where(order_status: "completed").ids.each do |id| %>
    <%= render partial: "owner-completed-order",
               locals: { cart_data: Order.find(id).order_items } %>

    <div class='flex my-20'>
        <p class='mr-20'>Total Items: <%= Order.get_total_items_count(id) %></p>
        <p class='mr-20'>Total Price: <%= Order.get_total_items_price(id) %></p>
    </div>

<% end %>
