<main>
  <div>
    <p> Welcome ! You are   <%= session[:current_user_role] %></p>
      <h4>Add Menu and Menu Items</h4>
      <!-- <%= form_with(url: "/menus", method: "post") do %>
      <%= text_field_tag "menu_name", nil, autofocus: true, placeholder: "Menu Category here" %>
      <%= submit_tag "Add" %>
      <% end %> -->
  </div>
    <% if (session[:current_user_id] && session[:current_user_role] == "owner") %>
        <div>
          <%= link_to "Place Order", orders_path, class: "buttons" %>
          <%= link_to "Completed Orders", "/owner/completed", class: "buttons" %>
          <%= link_to "Modify Orders", "/active/orders", class: "buttons" %>
        </div>
        <h4>Add Menu</h4>
          <%= form_with(url: "/menus", method: "POST") do %>
            <%= text_field_tag "name", nil, placeholder: "Menu Category Name" %>
            <%= submit_tag "Add Menu Category" %>
          <% end %>
        <h4> Add Menu item </h4>
              <%= form_with(url: "/menu_items", method: "POST") do %>
                  <!-- try to get the category value from database put in textbox automatically -->
                    <%= text_field_tag "menu_id", nil, placeholder: "Menu ID" %>
                    <%= text_field_tag "name", nil, placeholder: "Name" %>
                    <%= text_field_tag "description", nil, placeholder: "Description" %>
                    <%= text_field_tag "price", nil, placeholder: "Price" %>
                    <%= submit_tag "Add Menu Item" %>
              <% end %>
      <h3>Modify Active Menu</h3>
        <%= form_with(url: "/active_menus", method: "PUT") do %>
          <!-- while sending the value ActiveMenu.first.active_menu check with conditional operator -->
          <%= text_field_tag "menu_id", nil, placeholder: "Menu Id", value: ActiveMenu.last.active_menu %>
            <%= submit_tag "Modify Menu Item" %>
        <% end %>
<% elsif (session[:current_user_id] && session[:current_user_role] == "clerk") %>
      <div>
        <%= link_to "Place Order", orders_path, class: "buttons" %>
        <%= link_to "Completed Orders", "/owner/completed", class: "buttons" %>
      </div>
<% else %>
        <div>
          <%= link_to "Place Order", orders_path %>
        </div>
  <% end %>
  <div>
    <!-- <%= link_to "Place Order", orders_path %>
    <%= link_to "Completed Orders", "/owner/completed" %>
    <%= link_to "Modify Orders", "/active/orders" %>
  </div> -->


<h3>Active Menu <%= Menu.getActiveMenuName %></h3>

<% Menu.all.each do |m| %>
  <h3><%= "#{m.id}. #{m.name}" %></h3>
  <%= render partial: "menu",
             locals: { menu_data: MenuItem.where(menu_category_id: m.id) } %>
<% end %>
</main>
