<body>

    <p> Welcome ! You are   <%= session[:current_user_role] %></p>
      <h3>Add Menu and Menu Items</h3>

    <% if (session[:current_user_id] && session[:current_user_role] == "owner") %>

          <%= link_to "Place Order", orders_path, class: "buttons" %>
          <%= link_to "Completed Orders", "/owner/completed", class: "buttons" %>
          <%= link_to "Modify Orders", "/active/orders", class: "buttons" %>
          <%= link_to "My Panel", "/mypanel",class:"buttons" %>

        <h4>Add Menu</h4>
          <%= form_with(url: "/menus", method: "POST") do %>
            <%= text_field_tag "name", nil, placeholder: "Menu Category Name" %>
            <%= submit_tag "Add Menu Category", class: "buttons" %>
          <% end %>
        <h4> Add Menu item </h4>
          <%= form_with(url: "/menu_items", method: "POST") do %>

                    <%= text_field_tag "menu_id", nil, placeholder: "Menu ID" %>
                    <%= text_field_tag "name", nil, placeholder: "Name" %>
                    <%= text_field_tag "description", nil, placeholder: "Description" %>
                    <%= text_field_tag "price", nil, placeholder: "Price" %>
                    <%= submit_tag "Add Menu Item", class: "buttons" %>
          <% end %>

<% elsif (session[:current_user_id] && session[:current_user_role] == "clerk") %>

        <%= link_to "Place Order", orders_path, class: "buttons" %>
        <%= link_to "Completed Orders", "/owner/completed", class: "buttons" %>

<% else %>

          <%= link_to "Place Order", orders_path, class: "buttons" %>

  <% end %>
  <div>
</body>
