<h3>Your Order Details:</h3>

<div>
    <%= link_to "Place Order", orders_path, class: "buttons" %>
    <%= link_to "Completed Order", "/user/completed", class: "buttons" %>
</div>

<% if @current_user.is_owner? %>
<div>
    <%= link_to "Edit Orders", "/active/orders", class: "buttons" %>
    <%= link_to "Edit Menu & Items ", "/menus", class: "buttons" %>
    <%= link_to "Delivered Orders", "/owner/completed", class: "buttons" %>
    <%= link_to "Panel", "/mypanel", class: "buttons" %>
</div>
<% end %>

<h3> UserId: <%= @current_user.id %> </h3>

<% Order.get_users_active_order_ids(@current_user.id).each do |id| %>

  <%= render partial: "orders_user_completed",
             locals: { cart_data: Order.find(id).order_items } %>
  <h3>Total Number of Items: <%= Order.get_total_items_count(id) %></h3>
  <h3>Total Cost :Rs. <%= Order.get_total_items_price(id) %></h3>
<% end %>
