<h3>My Panel </h3>

<%= link_to "Modify Orders", "/active/orders", class: "buttons" %>
<%= link_to "Modify Menu & Items ", "/menus", class: "buttons" %>
<%= link_to "Delivered Orders", "/owner/completed", class: "buttons" %>

<div>
  <h3>Total Sales:  <%= Order.get_profit %></h3>
</div>

<div>
  <h3>Total Orders: <%= Order.get_all_orders_count %></h3>
</div>
