<p class="NewUsers-title">Welcome new user</p>
<section class="UsersNew">
    <%= form_with(url: users_path, method: "post") do %>
        <div class="Form-section">
            <p class="Input-label">
                Name:
            </p>
            <%= text_field_tag "name", nil,
                               autofocus: true,
                               placeholder: "Name",
                               class: "Form-Input" %>
        </div>
        <div class="Form-section">
            <p class="Input-label">
                Role :
            </p>
<%= select_tag "role", options_for_select(["customer", "clerk", "owner"], "customer") %>
        <div class="Form-section">
        <p class="Input-label">
                Email - id
        </p>
        <%= text_field_tag "email", nil, class: "Form-Input" %>
        <p class="Input-label">
               password :
        </p>
        <%= password_field_tag "password", value = nil, class: "Form-input" %>
        </div>

        <div class="Form-section">
            <%= submit_tag "Sign-up!", class: "buttons" %>
        </div>
    <% end %>
</section>
