<h1>Here is your order </h1>

<div>
    <%= link_to "Place Order", orders_path, class: "buttons" %>
    <%= link_to "Completed Order", "/user/completed", class: "buttons" %>
</div>

<% if @current_user.is_owner? %>
<div class="links-container">
    <%= link_to "Modify Orders", "/active/orders", class: "buttons" %>
    <%= link_to "Modify Menu & Items ", "/menus", class: "buttons" %>
    <%= link_to "Delivered Orders", "/owner/completed", class: "buttons" %>
    <%= link_to "View my Panel ", "/mypanel", class: "buttons" %>
</div>
<% end %>

<h5> UserId: <%= @current_user.id %> </h5>

<% Order.get_users_active_order_ids(@current_user.id).each do |id| %>

  <%= render partial: "order_user_cart",
             locals: { cart_data: Order.find(id).order_items } %>
  <h4> Total Number of Items: <%= Order.get_total_items_count(id) %></h4>
  <h4>Final Price: <%= Order.get_total_items_price(id) %></h4>
<% end %>
