  <div>
    <%= link_to "Modify Menu & Items ", "/menus" %>
    <%= link_to "View Orders", "/active/orders" %>
    <%= link_to "Modify Orders", "/active/orders" %>
    <%= link_to "My panel", "/mypanel" %>
  </div>


 <div>
    <%= link_to "Pending Orders (User)", "/user/orders/" %>
    <%= link_to "Completed Orders (User)", "/user/completed/" %>
  </div>


<h1 class='heading'>Order Here :  </h1>

<h5>Order Id:  <%= session[:current_order_id] %></h5>

<h5>Active Menu: <%= Menu.getActiveMenuName %></h5>

<%= render partial: "user-menu-options",
           locals: { menu_data: MenuItem.where(menu_category_id: ActiveMenu.first.active_menu) } %>


<h3>Items in your cart </h3>

<% if Order.find(session[:current_order_id]).order_items != [] %>

<%= render partial: "user-cart-options",
           locals: { cart_data: Order.find(session[:current_order_id]).order_items } %>

  <%= form_with(url: "/orders/#{session[:current_order_id]}?order_status=queue", method: "PUT") do %>

      <%= submit_tag "Place Order" %>
  <% end %>

<% end %>
