<!DOCTYPE html>
<html>
  <head>
    <title>My Cafe Manager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body>
    <p class="Header">Welcome to CafeteriaManager </p>

    <nav>

    <%= link_to "/orders", class: "nav-link" do %>

    <% end %>
    <% if @current_user %>
        <h6><%= @current_user.name %> , <%= @current_user.role %>! <h6>
        <%= link_to "Logout", destroy_session_path, method: "delete" %>
    <% end %>
  </nav>

   <% if flash[:error] %>
      <div>
        <%= flash[:error] %>
      </div>
    <% end %>
    <% if flash[:success] %>
      <div>
        <%= flash[:success] %>
      </div>
    <% end %>

  <body>
    <%= yield %>
  </body>
  </body>
</html>
